.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.header-text {
  text-align: left;
  left: 0;
}

.header-actions {
  display: flex;
  gap: 0.75rem;
  margin-left: auto;
}

.btn.primary, .btn.secondary {
  padding: 0.8rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  color: #fff;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
  width: 98%;
  padding: 10px 12px;
  border: 1px solid #333d4b;
  border-radius: 4px;
  background-color: #121821;
  font-size: 16px;
  color: #9ca4ae;
  transition: border-color 0.2s, box-shadow 0.2s;
  font-family: Helvetica;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #0580ff;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #9ca4ae;
}

.form-group select {
  width: 99.6%;
  appearance: none;
}

/* roles */
.option-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
  width: 100%;
}

.option-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #1e2330;
  border: 1px solid #333d4b;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

.option-btn:hover {
  border: 1px solid #ff1801;
}

.option-btn.selected {
  background-color: #32242f;
  border: 1px solid #ff1801;
}

.role-icon {
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  color: #9ca4ae;
}

.option-btn.selected .role-icon {
  color: #ff1801;
}

.role-label {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.role-description {
  font-size: 1rem;
  color: #9ca4ae;
}

/* Attributes */
.attributes h2 {
  margin-bottom: 20px;
}

.attribute-sliders {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.attribute-slider {
  display: flex;
  flex-direction: column;
}

.attribute-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.attribute-slider label {
  font-weight: 500;
}

.attribute-value {
  font-weight: 600;
  font-size: 14px;
}

.attribute-slider input[type="range"] {
  width: 100%;
  height: 6px;
  background: transparent;
  margin-bottom: 6px;
}

.attribute-slider input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;

}

.attribute-slider input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.attribute-description {
  font-size: 12px;
  color: #9ca4ae;
  margin-top: 6px;
}

/* buttons */
.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}